<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view all employee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
</head>
<body>
 <div class="container">
    <h1>All employee details</h1>
     <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
      <th scope="col">dob</th>
        <th scope="col">gender</th>
        <th scope="col">update</th>


    </tr>
  </thead>
         {% for emp in var1 %}

  <tbody>
    <tr>
      <th scope="row">{{emp.id}}</th>
      <td>{{emp.username}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.dob}}</td>
        <td>{{emp.gender}}</td>
       <td><a href="update/{{emp.id}}">update</a> </td>
<!--        <td><a href="registerupdate/{{emp.id}}">edit</a> </td>-->


    </tr>

  </tbody>
         {% endfor %}
</table>


</div>

</body>
</html>