<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div class="container">
        <nav>
            <div class="log">
                <h1>shopme</h1>
            </div>
            <ul>
                <li>
                    <a id="home" onclick="homes()">home</a>
                    <a id="shop" onclick="shops()">shops</a>
                    <a id="aboutss" onclick="about()">About</a>
                    <a id="blog" onclick="blogs()">Blog</a>
                    <a id="contact" onclick="cotacts()">Contacts</a>
                    <img src="/static/output-onlinegiftools.gif" alt="">
                </li>
            </ul>
        </nav>

        <div class="main">
            <div class="maintext">
                <h2>trends</h2>
                <h1 class="top">super selling deals</h1>
                <h1>on all products</h1>
                <p>some intresting and rocket deals for u</p>
                <button>explore</button>
            </div>
            <img src="/static/woman-posing-jumping-while-holding-shopping-bags-removebg-preview.png" alt="">

        </div>
        <div class="trend" id="trendsec">
            <div class="head">
                <h1>trends <span>women's wear</span></h1>
            </div>
            <div class="card">
                <div class="crd">
                    <img src="/static/pexels-dima-valkov-5690228.jpg" alt="">
                    <h2>trending top's</h2>
                    <div class="crd1">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/half star.png" alt="">
                        <img src="/static/unfield star.png" alt=""><br>
                        <button>add to cart</button>
                    </div>
                </div>
                <div class="crd">
                    <img src="/static/pexels-maksim-goncharenok-4352249.jpg" alt="">
                    <h2>trending top's</h2>
                    <div class="crd1">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/half star.png" alt="">
                        <img src="/static/unfield star.png" alt="">
                        <img src="/static/unfield star.png" alt=""><br>

                        <button>add to cart</button>
                    </div>
                </div>
                <div class="crd">
                    <img src="/static/girl3.jpg" alt="">
                    <h2>trending top's</h2>
                    <div class="crd1">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/star full.png" alt="">
                        <img src="/static/half star.png" alt=""> <br>

                        <button>add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!--about-->
        <div class="about">
            <div class="aboutus">
                <h1>About us!</h1>
                <p>Lorem ipsum dolor sit amet consectect euraphic centro.</p>
            </div>

            <div class="abouttext">
                <h1> hello Users!</h1>
            </div>
            <div class="yes">

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit .<br>
                    Saepe rerum, accusamus doloremque, odio earum fuga except<br>
                    laudantium voluptate in quae dolore debitis nobis incidun<br>
                    Repudiandae, dolore voluptatum Lorem, ipsum dolor sit ame<br>
                    Incidunt, adipisci vel perferendis tenetur dolor aliquid <br>
                    ut nesciunt et maxime, eveniet fugit magnam veritatis ex <br>
                    consectetur adipisicing elit. Sed id dolor libero archit <br>

                    dolore totam.</p>
            </div>



        </div>
        <!--contact-->
        <div class="contact" id="connn">
            <div class="cont">
                <h1>contact us</h1>
                <p>Lorem ipsum dolor amet consectetur adipisicing elit. Optio iste voluptatum denfd hkdos bdjywndyuk
                    laudantium <br>
                    obcaecati qui expedita, incidunt delectus a nemo at accusantium voluptate provident ex.</p>
            </div>
            <div class="caller">
                <div class="call">
                    <img src="loc.png" alt="">
                    <h2>address:</h2>
                    <p> 48sec surya nagar road<br>
                        raghunath hall margs<br>
                        jaipur.</p>
                </div>
                <div class="call1">
                    <img src="/static/call (1).png" alt="">
                    <h2>phone:</h2>
                    <p> 507-235-35274-253</p>
                </div>
                <div class="call2">
                    <img src="/static/mail.png" alt="">
                    <h2>Email:</h2>
                    <p> nidhisarma3456@gmail.com</p>
                </div>
            </div>
        </div>
        <!--cart-->
        <div class="cart">
            <img src="" alt="">
            <div class="add to cart">
                <h1></h1>


            </div> 
        </div>
        <!--blog-->
        <div class="trends">
            <div class="head">
                <h1>trending<span>women's wear</span></h1>
            </div>
            <div class="card">
                <div class="blog">
                    <img src="/static/girly.jpg" alt="">
                    <div class="blogtext">
                        <h2>trending girls cloth</h2>
                        <p>Lorem ipsum, dolor sit amet<br>
                            consectetur adipisicing elit.<br>
                            Deleniti repellendus.</p>
                        <a href="https://www.meesho.com/tops-ladies/pl/3ja">read more</a>
                    </div>
                </div>
                <div class="blog">
                    <img src="/static/girly2.jpg" alt="">
                    <div class="blogtext">
                        <h2>trending cloth</h2>
                        <p>Lorem ipsum, dolor sit amet<br>
                            consectetur adipisicing elit.<br>
                            Deleniti repellendus.</p>
                        <a href="https://www.meesho.com/tops-ladies/pl/3ja">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="letter">
            <div class="lettertext">
                <h1>sign up for new letter</h1>
                <p>Lorem ipsum dolor sit amet consectetur,amet construc</p>
            </div>
            <div class="inp">
                <input type="text" placeholder="enter email">
                <button>sign up</button>
            </div>
        </div>
        <!--footer-->
        <div class="footer">
            <div class="footertext">
                <h2>trends</h2>
                <p>service</p>
                <p>customer</p>
                <p>satisfaction</p>

            </div>
            <div class="footertext">
                <h2>about us</h2>
                <p>address: Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. </p>
                <p>service</p>
                <p>customer</p>
                <p>satisfication</p>
            </div>
            <div class="footertext">
                <h2>contact</h2>
                <p>9828863476</p>
                <p>customer</p>
                <p>coming up</p>
                <p>new arrival</p>
            </div>
            <div class="footertext">
                <h2>trending</h2>
                <p>service</p>
                <p>customer</p>
                <p>shops</p>

            </div>
        </div>
    </div>

    <script src="/static/java.js"></script>
</body>

</html>